h1 {
    text-align: center;

}

#btn1,
#btn2,
#btn3 {
    height: 60px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: peachpuff;
    font-size: 16px;
    transform: scale(1);
    transition: 0.5s;
}

#btn2:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#btn1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#btn3:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.colorBox {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 45px;

}

#result {
    height: 60px;
    width: 120px;
    border-radius: 20px;
    background-color: peachpuff;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}